html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --special-color: #4e519e;
  --login-signup-bg-color: #f7f7f7;
  /*-------- Font --------*/
  /* Light */
  --font-color: #606266;
  /* Dark */
  --font-color-dark: #bfbfbf;
  /*-------- Left --------*/
  /* Light */
  --left-bg-color: #f2f2f2;
  --left-hover-color: #f7f7f7;
  --left-clicked-color: #fff;
  /* Dark */
  --left-bg-color-dark: #0b0b0b;
  --left-hover-color-dark: #131313;
  --left-clicked-color-dark: #1a1a1a;
  /*-------- Middle --------*/
  /* Light */
  --mid-bg-color: #f7f7f7;
  --mid-hover-color: #fafafa;
  --mid-clicked-color: white;
  /* Dark */
  --mid-bg-color-dark: #131313;
  --mid-hover-color-dark: #151515;
  --mid-clicked-color-dark: #1a1a1a;
}

.BGCDark {
  background-color: #1A1A1A;
}

.FontDark {
  color: rgb(230, 230, 230);
}