html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --special-color: #4e519e;
  --login-signup-bg-color: #f7f7f7;
  /*-------- Font --------*/
  /* Light */
  --menu-font-color: #606266;
  --info-font-color: #303133;
  --placeholder-color: #c8ccd8;
  /* Dark */
  --menu-font-color-dark: #bfbfbf;
  --info-font-color-dark: #bfbfbf;
  --placeholder-color-dark: #5f5f5f;
  /*-------- Splitter --------*/
  /* Light */
  --splitter-color: #e8ecf1;
  /* Dark */
  --splitter-color-dark: #373738;
  /*-------- Left --------*/
  /* Light */
  --left-bg-color: #f2f2f2;
  --left-hover-color: #f7f7f7;
  --left-clicked-color: #fff;
  /* Dark */
  --left-bg-color-dark: #0b0b0b;
  --left-hover-color-dark: #131313;
  --left-clicked-color-dark: #1a1a1a;
  /*-------- Middle --------*/
  /* Light */
  --mid-bg-color: #f7f7f7;
  --mid-hover-color: #fafafa;
  --mid-clicked-color: white;
  /* Dark */
  --mid-bg-color-dark: #131313;
  --mid-hover-color-dark: #151515;
  --mid-clicked-color-dark: #1a1a1a;
  /* -------- Right -------- */
  /* Light */
  --right-bg-color: white;
  /* Dark */
  --right-bg-color-dark: #1a1a1a;
}